button{
    font-size:30px;
    width:100px;
    margin: 10px; /*extra space around an element*/
    color:white;
    padding:15px; /*extra space within an element.*/ 
    border-radius:30px;
    border-color:black;
    border-width: 5px;
}

.counterButton {
    
    background-color: #00a5ab;
}

.resetButton {
    background-color: #824f8c;
    width:220px;
}

.totalCount{
    font-size: 50px;
    color: #00a5ab;
}