@use '@angular/material' as mat;

$magenta-theme: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$magenta-palette
    ),
    typography: (
        brand-family: 'Comic Sans',
        bold-weight: 900
    ),
    density: (
        scale: -1
    )
));